/* Main */

.box {
    background-color: lightblue;
    min-height: 50px;
}

.border-dark{
    margin: auto;
    border-color: #7c7c7c !important;
}

.main_background{
    background-color: #d1d1d1 !important;
}

.user_saldo{
    margin: auto; font-size: xx-large;
}

.main_container2{
    margin-left: 20px; margin-right: 20px; margin-bottom: 20px;
}

/* Date inputs */

#desde{
    width:150px;
    height: 30px;
}

#hasta{
    width:150px;
    height: 30px;
}

/* Buttons */

.customButtonWidth{
    width: 100px !important;
}

.modificar-btn{
    background-color: #F7B538 !important;
    border-color: #F7B538 !important;
}

.modificar-btn:hover{
    background-color: #f9c86a !important;
    border-color: #f9c86a !important;
}

.btn-primary{
    background-color: #258EA6 !important;
    border-color: #258EA6 !important;
}

.btn-primary:hover{
    background-color: #4abcd7 !important;
    border-color: #4abcd7 !important;
}

.btn-success{
    background-color: #47b92e !important;
    border-color: #47b92e !important;
}

.btn-success:hover{
    background-color: #29dd00 !important;
    border-color: #29dd00 !important;
}

.btn-danger{
    background-color: #e11933 !important;
    border-color: #e11933 !important;
}

.btn-danger:hover{
    background-color: #ff1313 !important;
    border-color: #ff1313 !important;
}

/* Text colors */

.red_text{
    color:red !important;
}

.green_text{
    color: green !important;
}

.white_text{
    color: white !important;
}

/* Pagina Inicio */

.cuerpo-inicio{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    color: white;
    background-color: #F18E3D;
}

section{
    padding: 0 10%;
}

.container-text {
    background-clip: border-box;
    border-bottom: 1px solid white;
    padding-top: 60px;
    padding-bottom: 60px;
    display: block;
    justify-content: space-around;
    display: flex;
  }
  
.titulo-principal {
    font-size: 50px;
    line-height: 1;
    margin: 0 0 45px;
    text-align: center;
    place-items: center;
    margin-top: 45px;
    color: white;
}

.cuerpo-inicio p {
    font-size: 18px;
    line-height: 1.9;
    margin: 0 0 40px;
    text-align: center;
}

.information {
    flex-flow: column wrap;
    align-content: space-around;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

.information h2 {
    float: left;
}

.information img {
    float: left;
    flex: none;
    align-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.w-col-2 {
    width: 50%;
}

.w-col {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.Titulo-Ejemplo {
    max-width: 400px;
    padding-left: 0;
    font-size: 35px;
    font-weight: 400;
    line-height: 40px;
}

.inf-ejemplo {
    width: auto;
    max-width: 550px;
    direction: ltr;
    font-family: Nunito, sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-align: left;
    justify-content: flex-end;
    align-self: flex-start;
    padding-left: 0;
    line-height: 35px;
    display: block;
}

.app-img {
    align-items: center;
    flex: none;
    align-self: center;
    justify-content: center;
    display: flex;
}

.imagenApp {
    width: 512px;
    clear: none;
    text-align: left;
    object-fit: fill;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    background-clip: padding-box;
}

@media (max-width: 1280px) {
.container-text {
    flex-direction: column;
}
.information,
.app-img {
    width: 100%;
}
}