/* Main */
body {
    background: linear-gradient(to bottom, #335c67 350px, #fff 200px);
    background-repeat: no-repeat;
    background-size: 100% 50%;
}

.bg-light {
    background: transparent !important;
}

.navbar-brand {
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #fff;
}

.box {
    position: relative;
    border: 1px solid #1c1c1c;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.877);
    color: #1c1c1c;
    min-height: 50px;
    margin-top: 3rem;
    overflow: hidden;
    background-color: #fff;
}

.form-control {
    border: 1px solid #1c1c1c;
}

.border-dark{
    margin: auto;
    border-color: #1c1c1c !important;
}

.main_background{
    background-color: #fff !important;
    color: #111 !important;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.568);
}

.user_saldo{
    backdrop-filter: inherit !important;
    background: inherit !important;
    margin: auto; 
    font-size: xx-large;
    box-shadow: 0 0 15px 0 #fff
}

.main_container2{
    margin-left: 20px; margin-right: 20px; margin-bottom: 20px;
}

/* Date inputs */

#desde{
    width:150px;
    height: 30px;
}

#hasta{
    width:150px;
    height: 30px;
}

/* Buttons */

.customButtonWidth{
    width: 100px !important;
}

.modificar-btn{
    background-color: #335c67 !important;
    border-color: #335c67 !important;
}

.modificar-btn:hover{
    background-color: #2c4f58 !important;
    border-color: #2c4f58 !important;
}

.btn-primary{
    background-color: #F18E3D !important;
    border-color: #1c1c1c !important;
}

.btn-primary:hover{
    background-color: #fff !important;
    border-color: #F18E3D !important;
    color: #111;
}

.btn-success{
    background-color: #2D5A2C !important;
    border-color: #2D5A2C !important;
}

.btn-success:hover{
    background-color: #274e26 !important;
    border-color: #274e26 !important;
}

.btn-danger{
    background-color: #D5392F  !important;
    border-color: #D5392F  !important;
}

.btn-danger:hover{
    background-color: #b32f25 !important;
    border-color: #b32f25 !important;
}

/* Text colors */

.red_text{
    color:red !important;
}

.green_text{
    color: green !important;
}

.white_text{
    color: white !important;
}

/* Pagina Inicio */

.cuerpo-inicio {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    color: #1c1c1c;
    background-image: linear-gradient(to bottom, transparent 250px, #fff 200px);
}

section{
    padding: 0 10%;
}

.container-text {
    background-clip: border-box;
    border-bottom: 1px solid #1c1c1c;
    padding-top: 60px;
    padding-bottom: 60px;
    display: block;
    justify-content: space-around;
    display: flex;
  }
  
.titulo-principal {
    font-size: 50px;
    line-height: 1;
    margin: 0 0 45px;
    text-align: center;
    place-items: center;
    margin-top: 45px;
    color: white;
}

.cuerpo-inicio p {
    font-size: 18px;
    line-height: 1.9;
    margin: 0 0 40px;
    text-align: center;
    color: #fff;
}

.information {
    flex-flow: column wrap;
    align-content: space-around;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

.information h2 {
    float: left;
}

.information img {
    float: left;
    flex: none;
    align-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.w-col-2 {
    width: 50%;
}

.w-col {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.Titulo-Ejemplo {
    max-width: 400px;
    padding-left: 0;
    font-size: 35px;
    font-weight: 400;
    line-height: 40px;
}

.inf-ejemplo {
    width: auto;
    max-width: 550px;
    direction: ltr;
    font-family: Nunito, sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-align: left;
    justify-content: flex-end;
    align-self: flex-start;
    padding-left: 0;
    line-height: 35px;
    display: block;
}

.app-img {
    align-items: center;
    flex: none;
    align-self: center;
    justify-content: center;
    display: flex;
}

.imagenApp {
    width: 512px;
    clear: none;
    text-align: left;
    object-fit: fill;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    background-clip: padding-box;
    border: 2px solid #1c1c1c;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.6);
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.left-footer {
    margin-left: 20px;
    margin-top: 20px;
    flex-direction: column;
}

.logo-footer {
    height: 60px;
    display: flex;
}

.logo-footer p {
    margin-top: 13px;
    margin-left: 5px;
    color: #1c1c1c;
}

.left-footer ul {
    margin-top: 20px;
    margin-left: -32px;
    flex-wrap: wrap;
}

.left-footer li {
    display: inline;
    color: #1c1c1c;
    font-size: 13px;
    margin: 0;
    padding-right: 10px;
    box-sizing: border-box;
}


.left-footer li a:hover {
    border-bottom: 1px solid #1c1c1c;
    cursor: pointer;
}

.right-footer {
    margin-right: 20px;
    margin-top: 20px;
}

.right-footer > img {
    width: 30px;
    height: 30px;
    padding-left: 10px;
    transition: scale 0.2s ease-in-out;
}

.right-footer > img:hover {
    transform: scale(1.2);
    cursor: pointer;
}



@media (max-width: 1280px) {
.container-text {
    flex-direction: column;
}
.information,
.app-img {
    width: 100%;
}
}

@media (max-width: 1200px) {
    .left-footer li {
        display: block;
        padding-bottom: 10px;
    }
    .right-footer img {
        display: block;
        padding-bottom: 10px;
    }
}